<header
  [ngClass]="{'medium-movies': medium === 'Movies', 'medium-series': medium === 'Series'}">
  <h2>{{ medium }}</h2>
  <div *ngIf="mediaItems">{{ mediaItems | categoryList }}</div>
</header>

<section class="media-item-list-container">
  <div class="media-item-container">
    <mw-media-item
      [ngClass]="{'media-movies': mediaItem.medium === 'Movies', 'media-series': mediaItem.medium === 'Series'}"
      *ngFor="let mediaItem of mediaItems" 
      [mediaItem]="mediaItem"
      (delete)="onMediaItemDelete($event)">
    </mw-media-item>
  </div>
</section>

<footer>
  <a routerLink="/add">
    <img src="assets/01.png" class="icon">
  </a>
</footer>